## 02-1 판다스가 왜 필요할까?

## 02-2 데이터셋 불러오기

### 데이터 분석은 데이터셋 불러오기부터

#### [Do It! 실습] 첫 데이터셋 불러오기

In [1]:
import pandas

In [2]:
df = pandas.read_csv('../data/gapminder.tsv', sep='\t') # 얘는 separate를 tab키로 한다는걸 알려줘야 함.

In [3]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

#### [Do It! 실습] 데이터프레임 이해하기

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.shape)

(1704, 6)

In [8]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [9]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

### 02-3 데이터 추출하기

In [12]:
print(df.head()) # 굳이 모든 내용이 아닌 파일이 잘 불러와졌는지 확인하기 위해 사용. (맨 위 다섯개) -> .head(10) = 10개 불러옴 -> .tail() = 맨 아래 5개를 불러옴

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

### 열 데이터 추출하기

#### [Do It! 실습] 문자열로 열 데이터 추출하기

In [13]:
country_df = df['country']

In [14]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [15]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

#### [Do It! 실습] 리스트로 열 데이터 추출하기

In [20]:
subset = df[['country', 'continent', 'year']]

In [17]:
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

#### [Do It! 실습] 두 추출 방법의 차이점 이해하기

In [18]:
country_df = df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [19]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
country_df_list = df[['country']]
print(type(country_df_list))

In [ ]:
print(country_df_list)

### 행 데이터 추출하기

#### [Do It! 실습] 행 이름으로 행 데이터 추출하기

In [ ]:
print(df)

In [ ]:
print(df.loc[0])

In [ ]:
print(df.loc[99])

In [ ]:
# print(df.loc[-1])  # 오류

In [ ]:
# shape 속성을 사용하여 행의 개수 구하기
number_of_rows = df.shape[0]

# 행의 개수에서 1을 뺀 값으로 마지막 행의 인덱스 구하기
last_row_index = number_of_rows - 1

# 마지막 행의 인덱스로 데이터 추출하기
print(df.loc[last_row_index])

In [ ]:
print(df.tail(n=1))

In [ ]:
print(df.loc[[0, 99, 999]])

#### [Do It! 실습] 행 번호로 행 데이터 추출하기

In [ ]:
print(df.iloc[1])

In [ ]:
print(df.iloc[99])

In [ ]:
print(df.iloc[-1])

In [ ]:
print(df.iloc[[0, 99, 999]])

### loc와 iloc로 데이터 추출하기 (순서ㅐㅐㅐ)

#### [Do It! 실습] 슬라이싱 구문으로 데이터 추출하기

In [ ]:
# ef.loc[추출할행에대한정보, 추출할열에대한정보]

In [22]:
subset = df.loc[:, ['year', 'pop']]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [25]:
subset = df.iloc[:[4, 9], ['year', 'pop']]
print(subset)

IndexError: .iloc requires numeric indexers, got ['year' 'pop']

In [ ]:
subset = df.iloc[:, [2, 4, -1]]
print(subset)

In [ ]:
# subset = df.loc[:, [2, 4, -1]]  # 오류
# print(subset)

In [ ]:
# subset = df.iloc[:, ['year', 'pop']]  # 오류
# print(subset)

#### [Do It! 실습] range()로 데이터 추출하기

In [ ]:
small_range = list(range(5))
print(small_range)

In [ ]:
subset = df.iloc[:, small_range]
print(subset)

In [ ]:
small_range = list(range(3, 6))
print(small_range)

In [ ]:
subset = df.iloc[:, small_range]
print(subset)

In [ ]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
print(subset)

#### [Do It! 실습] 슬라이싱 구문과 range() 비교하기

In [ ]:
print(df.columns)

In [ ]:
small_range = list(range(3))
subset = df.iloc[:, small_range]
print(subset)

In [ ]:
subset = df.iloc[:, :3]
print(subset)

In [ ]:
small_range = list(range(3, 6))
subset = df.iloc[:, small_range]
print(subset)

In [ ]:
subset = df.iloc[:, 3:6]
print(subset)

In [ ]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
print(subset)

In [ ]:
subset = df.iloc[:, 0:6:2]
print(subset)

### 행과 열 함께 지정하여 추출하기

In [ ]:
print(df.loc[42, 'country'])

In [ ]:
print(df.iloc[42, 0])

#### [Do It! 실습] 여러 행과 열 지정하여 데이터 추출하기

In [ ]:
print(df.iloc[[0, 99, 999], [0, 3, 5]])

In [ ]:
print(df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

### 02-4 기초 통계 계산하기

In [ ]:
print(df)

In [ ]:
print(df.groupby('year')['lifeExp'].mean())

In [ ]:
grouped_year_df = df.groupby('year')
print(type(grouped_year_df))

In [1]:
print(grouped_year_df)

NameError: name 'grouped_year_df' is not defined

In [ ]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp']
print(type(grouped_year_df_lifeExp))

In [ ]:
print(grouped_year_df_lifeExp)

In [ ]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()
print(mean_lifeExp_by_year)

#### [Do It! 실습] 2개 이상 열 그룹화화기

In [ ]:
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()

In [ ]:
print(multi_group_var)

In [ ]:
flat = multi_group_var.reset_index()
print(flat)

### 그룹화한 데이터 개수 세기

#### [Do It! 실습] 그룹화한 데이터 개수 구하기

In [ ]:
print(df.groupby('continent')['country'].nunique())

In [ ]:
print(df.groupby('continent')['country'].value_counts())

### 02-5 데이터를 그래프로 표현하려면?

#### [Do It! 실습] 데이터프레임으로 그래프 그리기

In [ ]:
global_yearly_life_expectancy = df.groupby('year')['lifeExp'].mean()
print(global_yearly_life_expectancy)

In [ ]:
global_yearly_life_expectancy.plot()