## 03-1 나만의 데이터 만들기

### 시리즈와 데이터프레임 만들기

#### [Do It! 실습] 시리즈 만들기

In [3]:
import pandas as pd

s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(data=['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### [Do It! 실습] 데이터 프레임 만들기

In [5]:
scientists = pd.DataFrame({
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
})

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"],
)

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

## 03-2 시리즈 다루기

#### [Do It! 실습] 시리즈 추출하기

In [41]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"],
)

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [44]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Rosaline Franklin to William Gosset
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Occupation  2 non-null      object
 1   Born        2 non-null      object
 2   Died        2 non-null      object
 3   Age         2 non-null      int64
dtypes: int64(1), object(3)
memory usage: 80.0+ bytes

In [49]:
scientists.describe()

             Age
count   2.000000
mean   49.000000
std    16.970563
min    37.000000
25%    43.000000
50%    49.000000
75%    55.000000
max    61.000000

In [40]:
print(scientists.index)

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [10]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [11]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [12]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [13]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' np.int64(61)]

### 시리즈의 keys() 메서드

In [14]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [17]:
print(first_row.index[0])

Occupation

In [18]:
print(first_row.keys()[0])

Occupation

### 시리즈와 ndarray

#### [Do It! 실습] 시리즈의 메서드 사용하기

In [19]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [20]:
# 평균
print(ages.mean())

49.0

In [21]:
# 최솟값
print(ages.min())

37

In [22]:
# 최댓값
print(ages.max())

61

In [23]:
# 표준 편차
print(ages.std())

16.97056274847714

### 시리즈와 불리언

In [54]:
import pandas as pd
scientists = pd.read_csv('../data/scientists.csv')

In [55]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [66]:
scientists[[0]]

KeyError: "None of [Index([0], dtype='int64')] are in the [columns]"

#### [Do It! 실습] 기술 통계량 계산하기

In [25]:
ages = scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [26]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [28]:
print(ages.mean())

59.125

In [30]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [31]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [32]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [ ]:
print(type(ages > ages.mean()))

In [ ]:
manual_bool_values = [
    True,   # 0
    True,   # 1
    False,  # 2
    False,  # 3
    True,   # 4
    True,   # 5
    False,  # 6
    True,   # 7
]
print(ages[manual_bool_values])

### 시리즈와 브로드캐스팅

#### [Do It! 실습] 벡터와 벡터, 벡터와 스칼라 계산하기

In [ ]:
print(ages + ages)

In [ ]:
print(ages * ages)

In [ ]:
print(ages + 100)

In [ ]:
print(ages * 2)

#### [Do It! 실습] 길이가 서로 다른 벡터 연산하기

In [ ]:
print(ages + pd.Series([1, 100]))

In [ ]:
import numpy as np

# print(ages + np.array([1, 100]))  # 오류

#### [Do It! 실습] 인덱스가 같은 벡터 자동 정렬하기

In [ ]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

In [ ]:
print(ages * 2)

In [ ]:
print(ages + rev_ages)

## 03-3 데이터프레임 다루기

### 데이터프레임의 구성

In [ ]:
scientists.index

In [ ]:
scientists.columns

In [38]:
scientists.values

array([['Chemist', '1920-07-25', '1958-04-16', 61, 'Chemist',
        Timestamp('1920-07-25 00:00:00'),
        Timestamp('1958-04-16 00:00:00'),
        Timedelta('13779 days 00:00:00'), 37.0],
       ['Statistician', '1876-06-13', '1937-10-16', 45, 'Statistician',
        Timestamp('1876-06-13 00:00:00'),
        Timestamp('1937-10-16 00:00:00'),
        Timedelta('22404 days 00:00:00'), 61.0],
       ['Nurse', '1820-05-12', '1910-08-13', 37, 'Nurse',
        Timestamp('1820-05-12 00:00:00'),
        Timestamp('1910-08-13 00:00:00'),
        Timedelta('32964 days 00:00:00'), 90.0],
       ['Chemist', '1867-11-07', '1934-07-04', 77, 'Chemist',
        Timestamp('1867-11-07 00:00:00'),
        Timestamp('1934-07-04 00:00:00'),
        Timedelta('24345 days 00:00:00'), 66.0],
       ['Biologist', '1907-05-27', '1964-04-14', 90, 'Biologist',
        Timestamp('1907-05-27 00:00:00'),
        Timestamp('1964-04-14 00:00:00'),
        Timedelta('20777 days 00:00:00'), 56.0],
       ['Physician', '1813-03-15', '1858-06-16', 56, 'Physician',
        Timestamp('1813-03-15 00:00:00'),
        Timestamp('1858-06-16 00:00:00'),
        Timedelta('16529 days 00:00:00'), 45.0],
       ['Computer Scientist', '1912-06-23', '1954-06-07', 66,
        'Computer Scientist', Timestamp('1912-06-23 00:00:00'),
        Timestamp('1954-06-07 00:00:00'),
        Timedelta('15324 days 00:00:00'), 41.0],
       ['Mathematician', '1777-04-30', '1855-02-23', 41, 'Mathematician',
        Timestamp('1777-04-30 00:00:00'),
        Timestamp('1855-02-23 00:00:00'),
        Timedelta('28422 days 00:00:00'), 77.0]], dtype=object)

### 데이터프레임과 불리언 추출

In [ ]:
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()])

### 데이터프레임과 브로드캐스팅

#### [Do It! 실습] 데이터프레임을 대상으로 연산하기

In [ ]:
first_half = scientists[:4]
second_half = scientists[4:]

print(first_half)

In [ ]:
print(second_half)

In [ ]:
print(scientists * 2)

In [ ]:
df1 = df2 = pd.DataFrame(data=[[1, 2, 3], [4, 5, 6], [7, 8, 9]])

df_added = df1.add(df2)
print(df_added)

## 03-4 시리즈와 데이터프레임 데이터 변경하기

#### [Do It! 실습] 열 추가하기

In [5]:
print(scientists.dtypes)

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [6]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 452.0+ bytes

In [7]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [10]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [12]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [14]:
scientists['born_dt'] = born_datetime

In [16]:
scientists

,Name,Born,Died,Age,Occupation,born_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30

In [17]:
scientists['died_dt'] = died_datetime

In [19]:
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23

In [20]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
 5   born_dt     8 non-null      datetime64[ns]
 6   died_dt     8 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 580.0+ bytes

In [21]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)

In [22]:
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [23]:
print(scientists.shape)

(8, 7)

In [24]:
print(scientists.dtypes)

Name                  object
Born                  object
Died                  object
Age                    int64
Occupation            object
born_dt       datetime64[ns]
died_dt       datetime64[ns]
dtype: object

#### [Do It! 실습] 열 내용 변경하기

In [25]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [27]:
print(scientists["Age"].sample(frac=1, random_state=42))

1    61
5    45
0    37
7    77
2    90
4    56
3    66
6    41
Name: Age, dtype: int64

In [29]:
scientists["Age"] = scientists["Age"].sample(frac=1, random_state=42)
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [30]:
scientists['Name'] = scientists['Occupation']
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Chemist,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,Statistician,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Nurse,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Chemist,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Biologist,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14
5,Physician,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16
6,Computer Scientist,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07
7,Mathematician,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23

In [31]:
scientists["Age"] = scientists["Age"].sample(frac=1, random_state=42).values
print(scientists['Age'])

0    61
1    45
2    37
3    77
4    90
5    56
6    66
7    41
Name: Age, dtype: int64

In [33]:
import numpy as np

In [35]:
np.floor(3.5) # 소숫점을 버려줌

np.float64(3.0)

In [ ]:
scientists['age_years'] = (scientists['age_days'].dt.days / 365).apply(np.floor)

In [ ]:
# scientists['age_years'] = (scientists['age_days'].astype('timedelta64[Y]'))  # pandas 2.0.3 오류
scientists['age_years'] = (scientists['age_days'].dt.days / 365).apply(np.floor)  # 날짜 수를 햇수로 변환

print(scientists)

#### [Do It! 실습] assign()으로 열 수정하기

In [ ]:
scientists = scientists.assign(
    age_days_assign=scientists['died_dt'] - scientists['born_dt'],
    # age_year_assign=scientists['age_days'].astype('timedelta64[Y]'))  # pandas 2.0.3 오류
    age_year_assign=(scientists['age_days'].dt.days / 365).apply(np.floor)
)
print(scientists)

##### <한 걸음 더!> 다른 방법으로 나이 계산하기

In [ ]:
scientists = scientists.assign(
    age_days_assign=scientists["died_dt"] - scientists["born_dt"],
    # age_year_assign=lambda df_: df_["age_days_assign"].astype("timedelta64[Y]"),  # pandas 2.0.3 오류
    age_year_assign=lambda df_: (df_["age_days_assign"].dt.days / 365).apply(np.floor), 
)
print(scientists)

#### [Do It! 실습] 열 삭제하기

In [ ]:
print(scientists.columns)

In [ ]:
scientists_dropped = scientists.drop(['Age'], axis="columns")

In [ ]:
print(scientists_dropped.columns)

## 03-5 데이터 저장하고 불러오기   (시험범위 제외!!)

### 피클로 저장하고 불러오기

#### [Do It! 실습] 시리즈와 데이터프레임 저장하기

In [ ]:
names = scientists['Name']
print(names)

In [ ]:
names.to_pickle('../output/scientists_names_series.pickle')

In [ ]:
scientists.to_pickle('../output/scientists_df.pickle')

#### [Do It! 실습] 피클 데이터 읽어 오기

In [ ]:
series_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(series_pickle)

In [ ]:
dataframe_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(dataframe_pickle)

### CSV와 TSV 파일로 저장하고 불러오기

In [ ]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

### 엑셀로 저장하기

#### [Do It! 실습] 시리즈와 데이터프레임 저장하기

In [ ]:
#!pip install openpyxl  # openpyxl이 없다면 주석을 제거하고 설치하세요.

In [ ]:
names = scientists['Name']
print(names)

In [ ]:
names_df = names.to_frame()

In [ ]:
names_df.to_excel('../output/scientists_names_series_df.xls',
                  engine='openpyxl')

In [ ]:
scientists.to_excel("../output/scientists_df.xlsx",
                    sheet_name="scientists",
                    index=False)

### 다양한 형식으로 저장하기

#### [Do It! 실습] feather 파일로 저장하기

In [ ]:
#!pip install pyarrow  # pyarrow가 없다면 주석을 제거하고 설치하세요.

In [ ]:
scientists.to_feather('../output/scientists.feather')

In [ ]:
sci_feather = pd.read_feather('../output/scientists.feather')
print(sci_feather)

#### [Do It! 실습] 딕셔너리로 변환하기

In [ ]:
sci_sub_dict = scientists.head(2)

In [ ]:
sci_dict = sci_sub_dict.to_dict()

In [ ]:
import pprint
pprint.pprint(sci_dict)

In [ ]:
sci_dict_df = pd.DataFrame.from_dict(sci_dict)
print(sci_dict_df)

#### [Do It! 실습] JSON으로 저장하기

In [ ]:
sci_json = sci_sub_dict.to_json(orient='records', indent=2, date_format="iso")
pprint.pprint(sci_json)

In [ ]:
sci_json_df = pd.read_json(
    ('[\n'
 '  {\n'
 '    "Name":"Rosaline Franklin",\n'
 '    "Born":"1920-07-25",\n'
 '    "Died":"1958-04-16",\n'
 '    "Age":61,\n'
 '    "Occupation":"Chemist",\n'
 '    "born_dt":"1920-07-25T00:00:00.000",\n'
 '    "died_dt":"1958-04-16T00:00:00.000",\n'
 '    "age_days":"P13779DT0H0M0S",\n'
 '    "age_years":37.0,\n'
 '    "age_days_assign":"P13779DT0H0M0S",\n'
 '    "age_year_assign":37.0\n'
 '  },\n'
 '  {\n'
 '    "Name":"William Gosset",\n'
 '    "Born":"1876-06-13",\n'
 '    "Died":"1937-10-16",\n'
 '    "Age":45,\n'
 '    "Occupation":"Statistician",\n'
 '    "born_dt":"1876-06-13T00:00:00.000",\n'
 '    "died_dt":"1937-10-16T00:00:00.000",\n'
 '    "age_days":"P22404DT0H0M0S",\n'
 '    "age_years":61.0,\n'
 '    "age_days_assign":"P22404DT0H0M0S",\n'
 '    "age_year_assign":61.0\n'
 '  }\n'
 ']'),
     orient="records"
)
print(sci_json_df)

In [ ]:
print(sci_json_df.dtypes)

In [ ]:
sci_json_df["died_dt_json"] = pd.to_datetime(sci_json_df["died_dt"])
print(sci_json_df)

In [ ]:
print(sci_json_df.dtypes)